body {
    background-color: black;
    color: white;
    position: relative;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
}

.Login {
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}